<template name="ticketSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="summary">Summary</label>
        <div class="controls">
            <input name="summary" type="text" value="" placeholder="Your summary"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea name="description"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="priority">priority</label>
        <div class="controls">
            <select name="priority">
                              <option value="TRIVIAL">TRIVIAL</option>
                              <option value="MINOR">MINOR</option>
                              <option value="MAJOR">MAJOR</option>
                              <option value="CRITICAL">CRITICAL</option>
                              <option value="BLOCKER">BLOCKER</option>
      </select>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
