<template name="ticketPage">
  {{#with currentTicket}}
   <div class="post">
    <div class="post-content">


<div class="block">
      Summury: <div class="summary">{{summary}}</div> </br>
      Description: <div class="description">{{description}}</div> </br>
      Priority: <div class="priority">{{priority}}</div> </br>
      Status: <div class="status">{{status}} </div></br></br>

      <div class="postauthor">Reported by {{author}} </div></br>
</div>
    </div>
    </div>

    <ul class="comments">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>log in to leave a comment.</p>
    {{/if}}

  {{/with}}
</template>
